*{
    margin:0;
    padding:0;
}
body{
    /* background-image: url('bg.jpeg'); */
    background-size: cover;  
    /* Background are cover with the image */
    overflow: hidden;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
}

.startmenu{
    position:absolute;
    /* bottom: 50px; */
    width:100%;
    text-align: center;
    bottom: -655px;
    transition: all 0.3s ease-in;


}
.startmenu img{
    border-radius: 8px;
}

.taskbar{
   /*position: relative; /*elements are relative to the current position do not change.*/
    position: absolute;/* elements are change to the current position.*/
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #f3f3f3;
    z-index: 110;
}
.right{
    position:absolute;
    right:0;
    margin:6px;
    height: 85%;
}